.celebrity-card {
  @apply snap-start shrink-0 relative w-[300px] h-[300px] overflow-hidden;

  .celebrities--grid & {
    @apply md:w-[350px] md:h-[350px] md:mb-2;
  }

  .celebrities--list & {
    @apply md:w-auto md:h-[142px] md:mb-1
      lg:h-[170px];    
  }
}

.celebrity-card__image {
  @apply absolute top-0 min-w-full;

  .celebrities--list & {
    @apply
      md:left-0 md:min-w-0 md:max-h-[142px]
      lg:max-h-[170px];
  }
}

.celebrity-card__image > img {
  @apply min-w-full;

  .celebrities--list & {
    @apply md:absolute md:min-w-[216px] md:h-auto md:left-[-20px] md:top-[-30px]
      lg:min-w-[240px];
  }
}

.celebrity-card__shadow {
  @apply absolute bottom-0 left-0 right-0 h-[215px]
    bg-[linear-gradient(180deg,_rgba(0,0,0,0.0001)_0%,_rgba(0,0,0,0.6)_100%)];

  .celebrities--list & {
    @apply
      md:bg-[linear-gradient(90deg,_rgba(0,0,0,0.0001)_0%,_#888888_19.79%,_#666666_50%,_rgba(51,51,51,0.6)_71.88%)]
      md:left-[15px] md:right-0 md:h-full
      lg:left-[5px];
  }
}

.celebrity-card__icon {
  @apply absolute flex justify-center items-center w-[30px] h-[30px] top-[96px];

  .celebrities--grid & {
    @apply md:top-[146px];
  }

  .celebrities--list & {
    @apply md:left-0 md:top-0 md:ml-0;
  }
}

.celebrity-card__icon--positive {
  @apply bg-green-thumb;
}

.celebrity-card__icon--negative {
  @apply bg-yellow-thumb;
}

.celebrity-card__icon > img {
  @apply w-4 h-4;
}

.celebrity-card__content {
  @apply relative flex flex-col z-10 pt-[130px] pl-10 pr-9;

  .celebrities--grid & {
    @apply md:pt-[181px];
  }

  .celebrities--list & {
    @apply md:flex-row md:pt-2 md:pl-[150px] md:pr-1 md:place-content-between
      lg:pl-[200px];
  }
}

.celebrity-card__head {
  @apply relative mb-2;

  .celebrities--list & {
    @apply md:mb-4
      lg:mb-2;
  }
}

.celebrity-card__head-name {
  @apply absolute bottom-0 text-3xl text-white;

  .celebrities--grid & {
    @apply md:text-4xl;
  }

  .celebrities--list & {
    @apply md:static md:w-[368px] md:h-10 md:overflow-hidden md:text-[28px];
  }
}

.celebrity-card__description {
  @apply text-[15px] text-white leading-[18px] h-12
    text-ellipsis overflow-hidden line-clamp-2;

    .celebrities--grid & {
      @apply md:h-10
        lg:h-8;
    }

  .celebrities--list & {
    @apply md:text-sm md:h-12;
  }
}

.celebrity-card__category {
  @apply text-xs text-white text-right mt-4;

  .celebrities--grid & {
    @apply lg:mt-2;
  }

  .celebrities--list & {
    @apply md:absolute md:top-0 md:right-2 md:mt-2;
  }
}
